.general {
    background-color: rgb(223, 247, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
}

.content {
    width: 80%;
    margin: auto;
}

.para_text {
    margin-right: 100px;
}

#vaccinated_by_country {
    width: 100%;
    height: auto;
    margin: auto;
}

.row {
    display: flex;
    margin: auto;
}
  
.column {
    flex: 50%;
}